Django==1.3.1
Markdown
MySQL-python
PIL
South
boto
django-ses
django-tagging
flup
logging
wsgiref
pytils
-e git+https://github.com/glader/django_subscribe.git#egg=django_subscribe
-e git+https://github.com/glader/django_yafotki.git#egg=yafotki