{% load tagging_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <title>{% block title %}{% endblock %} Уральская школа соционики</title>

	<link href="{{ MEDIA_URL }}css/main.css?2" rel="stylesheet" type="text/css" media="screen" />
	<script src="{{ MEDIA_URL }}js/jquery-1.2.6.pack.js"></script>

    <meta name='yandex-verification' content='652a7e625a682c1c' />
</head>
<body><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid #6A432B; border-top: 1px solid #6A432B;"><tr>
    <td width="210px"><img src="{{ MEDIA_URL }}design/logo.jpg" style="margin:3px;"></td>
    <td>
        <div style="text-align:left; margin:0px 0px 0px 0px;">
            <div style="color:#6A432B; font-size:200%; font-weight:bold;"><a href="/" style="color:#6A502B; text-decoration:none;">uralsocionics.ru</a></div>
            <div style="color:#A99981; font-size:200%;">Уральская школа соционики</div>
        </div>
    </td>
  </tr></table>

  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid #6A432B; padding-bottom:20px;"><tr>
    <td valign="top" width="150px" class="nav-text" style="padding:20px;">
        {% if user.is_authenticated %}
            <b>{{ user.get_profile.nick }} (<a href='{% url logout %}'>выход</a>)</b>
        {% else %}
            <a href='{% url login %}'>Вход</a> / <a href="{% url registration %}">Регистрация</a>
        {% endif %}
        <br><br>

        <a href="{% url article 6 %}"><nobr>что такое соционика?</nobr></a><br>
        <a href="{% url article 4 %}">специалисты</a><br>
        <a href="/schedule">расписание</a><br>
        <a href="{% url article 24 %}">консультации</a><br>
        <a href="{% url category 6 %}">обучение</a><br>
        <a href="{% url category 7 %}">клуб</a><br>
        <a href="{% url category 12 %}">книги</a><br>
        <div style="text-indent: 25pt"><a href="{% url article 8 %}">книжная лавка</a></div>
        <a href="{% url category 4 %}">статьи</a><br>
        <div style="text-indent: 25pt"><a href="{% url category 10 %}">«Журнал НСО»</a></div>
        <div style="text-indent: 25pt"><a href="{% url category 11 %}">журнал «Мост»</a></div>
        {% if admin %}
            <a href="{% url post %}">рассылка</a><br>
        {% endif %}


        <br><br><br>
	{% block advert %}{% endblock %}

    </td>

    <td valign="top" style="padding:20px;">

        {% block content %}{% endblock %}

    </td>

    <td valign="top" width="200px" class="nav-text" style="padding-left:20px;">

        <div class="b-block b-block_centered">
            <h2>Скачать архив <br>«Журнала НСО»
            <br><br><img src="{{ MEDIA_URL }}img/magazines.jpg">
            <p>6 журналов <br>в формате pdf</h2>
            <p>
            {% if user.is_authenticated %}
                <b><big><a href="{{ MEDIA_URL }}img/jnso.zip">СКАЧАТЬ</a></big></b>
            {% else %}
                Чтобы увидеть ссылку, <a href='{% url login %}'>войдите</a> или <a href="{% url registration %}">зарегистрируйтесь</a>
            {% endif %}
        </div>

        {% tag_cloud_for_model core.Article as tags_cloud with steps=4 %}

        <div class="tag_cloud">
        {% for tag in tags_cloud %}
            <a href="{% url tag tag.id %}" class="tag_{{ tag.font_size }}">{{ tag }}</a>
        {% endfor %}

    <br><br>

<p><small>Для корректного отображения соционических символов в некоторых статьях необходим специальный <a href="http://uralsocionics.ru/media/img/Socionic.TTF">соционический шрифт</a>.</small>
</td></tr></table>

  <div style="text-align:center; margin:3px;">
  <small class="nav-text"><!--<a href="/sitemap">Карта сайта</a></small>--> <small> &#169; Уральская школа соционики, 2008-2011</small>
  </div>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter13170700 = new Ya.Metrika({id:13170700, enableAll: true});
            }
            catch(e) { }
        });
    })(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/13170700" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Счетчик посещений -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-204080-3");
    pageTracker._trackPageview();
</script>

</body>
</html>
