#production

import os, sys

sys.path.append('/home/www/projects/applications')

DOMAIN = 'uralsocionics.ru'

DATABASES = {
    'default': {
        'NAME': 'uralsocionics',
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'uralsocionics',
        'PASSWORD': '<database_password>',
    }
}

LOG_PATH = '/var/log/projects/uralsocionics'