# production

DATABASES = {
    'default': {
        'NAME': 'uralsocionics',
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'uralsocionics',
        'PASSWORD': '%(DATABASE_PASSWORD)s',
    }
}

LOG_PATH = '/var/log/projects/uralsocionics'

EMAIL_BACKEND = 'django_ses.SESBackend'
AWS_ACCESS_KEY_ID = '%(SES_ACCESS_KEY_ID)s'
AWS_SECRET_ACCESS_KEY = '%(SES_SECRET_ACCESS_KEY)s'